.custom-navbar {
    background: linear-gradient(90deg, #FFC0CB, #FFFFFF); /* Rosa a blanco */
  }
  .navbar-brand {
    font-size: x-large;
  }
  .containerContacto {
    background: linear-gradient(90deg, #FFC0CB, #e39e9e);
    text-align: center;
    font-size: larger;
    width: 800px;
    height: 600px;
    border-radius: 15px;
    justify-content: center;
    
  }
  .mb-3{
    width: 750px;
  }