.col-md-8 {
background: linear-gradient(90deg, #FFC0CB, #FFFFFF);
text-align: center;
border-radius: 15px;
}

.btn-primary,
.btn-secondary {
    width: 200px; 
    height: 200px;
  padding: 5px 10px; /* Ajusta el relleno superior e inferior y el relleno izquierdo y derecho según tus preferencias */
  border-radius: 15px;
  background: transparent;
  border-color: transparent;
}

.btn-primary img,
.btn-secondary img {
  width: 150px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: 150px; /* Ajusta la altura de la imagen según tus preferencias */
  border-radius: 15px;
  background: transparent;
}
